body {
  font-family: "Roboto", sans-serif;
  background: #e5e5e5;
}
header {
  margin: 27px 0 55px 0;
}
.logo {
  display: flex;
  align-items: center;

  text-decoration: none;
  color: #000;
}

.logo img {
  margin-right: 12px;
}

.logo p {
  margin: 0;
  padding: 0;
  font-size: 14px;
  line-height: 1.2;
  color: #000000;
}

.menu li {
  display: flex;
  align-items: center;
  list-style: none;
  margin-right: 26px;
}
.menu {
  margin: 0;
}
.menu li a {
  text-decoration: none;
  font-weight: 700;
  font-size: 18px;
  line-height: 1.2;
  color: #ff9100;
  white-space: nowrap;
}

.menu li a:hover {
  color: #d56363;
}

.btn {
  height: 40px;
  text-decoration: none;
  font-weight: 700;
  font-size: 18px;
  line-height: 1.1;
  padding: 10px 27px;
  background: #ff9100;
  border-radius: 12px;
  color: #fff !important;
}

.btn:hover {
  background: #d56363;
}
.burger {
  height: 27px;
  width: 38px;
  margin-left: 20px;
  cursor: pointer;
}
.burger span {
  display: block;
  width: 38px;
  height: 6px;
  background: #ff9100;
  border-radius: 12px;
  margin-bottom: 5px;
}
.burger .red {
  background-color: #d46363;
}

.hero__info {
  color: #374b5c;
  margin-bottom: 43px;
}

.hero__info-p-org {
  font-weight: 300;
  font-size: 36px;
  line-height: 1.2;
}

.hero__info-it-city {
  font-family: "Roboto Slab";
  font-weight: 700;
  font-size: 64px;
  line-height: 1.3;
  margin: 0;
}

.hero__info p {
  margin-bottom: 26px;
  font-size: 18px;
  line-height: 1.2;
  min-width: 300px;
}

.hero-events {
  height: 434px;
  margin-bottom: 103px;
}

.hero__event {
  background-image: url(../img/Event\ 3.svg);
  background-size: cover;
  width: 100%;
  height: 387px;
  border-radius: 30px;
  position: relative;
}

.hero__event-arrows {
  display: flex;
  justify-content: space-between;
  width: 100%;
  height: 387px;
  cursor: pointer;
  z-index: 10;
  position: absolute;
  align-items: center;
}

.hero__event-gradient {
  background: linear-gradient(180deg, rgba(0, 0, 0, 0) 25.53%, #d46363 96.89%);
  border-radius: 30px;
  width: 100%;
  height: 209px;
  position: absolute;
  bottom: 0;
  left: 0;
}

.hero__event-info {
  position: absolute;
  vertical-align: bottom;
  bottom: 0;
  padding-left: 38px;
  padding-bottom: 20px;
}

.hero__event-date {
  background: rgba(255, 145, 0, 0.6);
  border-radius: 12px;
  font-weight: 700;
  font-size: 18px;
  line-height: 1.2;
  color: #ffffff;
  padding: 6px 16px;
  width: max-content;
}

.hero__event-name {
  text-decoration: none;
  font-weight: 700;
  font-size: 28px;
  line-height: 1.2;
  color: #ffffff;
}

.hero__dots {
  display: flex;
  justify-content: center;
  align-items: center;
  list-style: none;
  padding: 0;
  margin: 0 0 28px 0;
}

.hero__dots span {
  width: 18px;
  height: 18px;
  background: #ff9100;
  border-radius: 50%;
  margin-right: 14px;
  margin-top: 29px;
}
.hero__dots span:nth-child(2) {
  background-color: #d46363;
}

.projects__title {
  display: flex;
  text-transform: uppercase;
  align-items: center;
  justify-content: center;
}

.projects__line {
  border: 1px solid #ff9100;
  width: 100%;
}

.projects__title p {
  color: #ff9100;
  white-space: nowrap;
  padding: 0px 25px;
  margin: 0;
  font-weight: 300;
  font-size: 36px;
}

.projects__description {
  font-size: 18px;
  line-height: 1.2;
  height: 49px;
  color: #374b5c;
  text-align: center;
}

.projects__icons {
  justify-content: space-around;
  flex-wrap: wrap;
}

.projects__icon {
  display: flex;
  flex-direction: column;
  align-items: center;
  height: 305px;
  width: 90%;
  background: rgba(255, 145, 0, 0.96);
  border-radius: 24px;
  margin: 20px 10px 47px 0px;
  text-decoration: none;
}

.projects__icon img {
  width: 140px;
  height: 140px;
  margin: 10px 0 10px 0;
}

.projects__icon h2 {
  text-transform: uppercase;
  font-weight: bold;
  color: #fff;
  text-align: center;
  font-weight: 700;
  font-size: 24px;
  line-height: 1.2;
  padding: 0;
  margin: 0;
}
.projects__icon-coworking h2 {
  font-size: 28px;
}

.projects__icon p {
  color: #fff;
  height: 64px;
  font-size: 18px;
  line-height: 1.2;
  text-align: center;
  padding-left: 11px;
  padding-bottom: 33px;
  margin: 10px 0px;
}

.projects__icon-coworking img {
  width: 48px !important;
  height: 48px !important;
  margin: 20px 0 !important;
}

.projects__icon:hover {
  background-color: #d46363;
}

.team__title {
  display: flex;
  text-transform: uppercase;
  align-items: center;
  justify-content: center;
  margin-bottom: 40px;
}

.team__line {
  border: 2px solid #d46363;
  width: 100%;
}

.team__title p {
  color: #d46363;
  padding: 0 57px 0 57px;
  font-weight: 700;
  font-size: 36px;
  line-height: 1.2;
  justify-content: center;
  margin: 0;
}

.team {
  background-color: rgba(255, 168, 0, 0.06);
}

.team__box {
  display: flex;
  justify-content: space-around;
  flex-wrap: wrap;
  align-items: center;
}

.team__box a {
  text-decoration: none;
  position: relative;
  overflow: hidden;
  transition: 1s;
}

.team__box a img {
  max-width: 100%;
  height: 224px;
}

.team__icon {
  width: 60px;
  height: 60px;
}

.team__member {
  display: block;
  width: 100%;
  height: 224px;
  background: rgba(212, 99, 99, 0.9);
  border-radius: 50%;
  color: #fff;
  text-align: center;
  position: absolute;
  top: 234px;
  left: 0;
}

.team__box a:hover .team__member {
  display: block;
  top: 0;
  transition: 1s;
}

.team__member img {
  width: 42px !important;
  height: 42px !important;
  margin: 20px 0 10px 0;
}

.team__member-name {
  font-weight: 700;
  font-size: 30px;
  line-height: 1.2;

  text-decoration: none;
}

.team__member-it-city {
  font-weight: 700;
  font-size: 12px;
  line-height: 1.2;
}

.team__member-position {
  font-weight: 700;
  font-size: 14px;
  line-height: 1.2;
}

.team__dots {
  display: flex;
  justify-content: center;
  align-items: center;
}

.team__dots span {
  width: 24px;
  height: 24px;
  background: #c4c4c4;
  border-radius: 50%;
  margin: 11px;
  margin-top: 37px;
  margin-bottom: 66px;
}

.team__dots span:nth-child(2) {
  background-color: #d46363;
}

.join-team {
  display: flex;
  justify-content: center;
  text-align: center;
}

.join-team a {
  text-transform: uppercase;
  background-color: #ff9e1f;
  color: #fffdfd;
  border-radius: 14px;
  text-decoration: none;
  font-weight: 900;
  font-size: 28px;
  line-height: 1.2;
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 30px 50px;
  margin-bottom: 102px;
}

.join-team a:hover {
  background-color: #d46363;
}

.partners {
  text-transform: uppercase;
  color: #000;
  text-align: center;
  margin-top: 0;
  margin-bottom: 45px;
  font-weight: 700;
  font-size: 36px;
  line-height: 1.2;
}

.logo-partners {
  display: flex;
  justify-content: space-around;
  flex-wrap: wrap;
  position: relative;
  overflow: hidden;
  transition: 1s;
  margin-bottom: 65px;
}

.logo-block {
  display: block;
  margin-bottom: 20px;
}

.logo-block a {
  position: absolute;
  display: none;
}

.logo-block:hover a {
  display: block;
  top: 0;
  transition: 2s;
}

footer {
  height: 292px;
  background: rgba(255, 145, 0, 0.9);
}

.footer__logo {
  display: flex;
  justify-content: space-around;
  text-decoration: none;
  color: #fff;
  margin-top: 37px;
}

.footer__logo img {
  margin-right: 26px;
  width: 97px;
  height: 97px;
}

.footer__logo p {
  color: #fff;
  margin: 0;
  padding-top: 4px;
  font-size: 24px;
  line-height: 1.2;
}

footer nav {
  display: flex;
  margin-top: 25px;
}
.footer__menu {
  margin: 0 10px 0 0;
  padding: 0;
}
.footer__menu li {
  list-style: none;
  margin: 0;
}

.footer__menu li a {
  text-decoration: none;
  color: #fff;
  font-size: 24px;
  line-height: 1.5;
}

.footer__contacts p {
  margin: 0 0 0 20px;
}

.footer__contacts a {
  text-decoration: none;
  color: #fff;
  font-size: 24px;
  margin-bottom: 10px;
}

.footer__social-networks {
  list-style: none;
  margin-top: 20px;
  margin-left: 20px;
}

.footer__social-networks a img {
  padding-right: 10px;
  padding-left: 20px;
}

hr {
  border: 1px solid #fff;
  margin: 10px 110px 12px 110px;
}

.footer__created {
  display: flex;
  align-items: center;
  justify-content: center;
  font-size: 18px;
  line-height: 1.2;
  color: #ffffff;
}
@media screen and (max-width: 992px) {
  header {
    margin: 12px 0 33px 0;
  }
  .logo img {
    height: 44px;
    width: 44px;
    margin-right: 0;
  }

  .menu li {
    margin-right: 21px;
  }

  .menu li a {
    font-size: 16px;
  }

  .btn {
    height: 38px;
    font-size: 16px;
    padding: 9px 25px;
  }
}
@media screen and (max-width: 768px) {
  .hero__event-name {
    font-size: 24px;

    margin-right: 10px;
  }
  .projects__title p {
    padding: 0px 16px;

    font-weight: 700;
    font-size: 18px;
  }

  .projects__description {
    display: none;
  }

  .projects__icons {
    justify-content: start;
    flex-wrap: nowrap;
    overflow: hidden;
  }
  .projects__icons > div {
    position: relative;
  }
  .projects__icon {
    width: 100%;
    left: 10%;
    margin: 24px 15px 29px 15px;
  }
  .projects__arrows {
    width: 80%;
    left: 10%;
    margin-top: 40px;
    z-index: 10;
  }

  .team__title {
    margin-bottom: 26px;
  }

  .team__title p {
    color: #d46363;
    padding: 0 37px;
    font-size: 18px;
  }

  .team__box {
    flex-wrap: nowrap;
  }

  .team__box a img {
    max-width: 100%;
    height: 96px;
    cursor: pointer;
  }

  .team__member {
    display: none;
  }

  .team__box a:hover .team__member {
    display: none;
  }

  .team__dots span {
    width: 10px;
    height: 10px;
    margin: 16px 10px 28px 10px;
  }
  .join-team a {
    width: 222px;
    font-size: 14px;
    line-height: 1.2;
    padding: 12px 23px;
    margin-bottom: 40px;
  }

  .partners {
    margin-bottom: 21px;
    font-size: 18px;
  }

  .logo-partners {
    display: flex;
    justify-content: space-around;
    flex-wrap: wrap;
    position: relative;
    overflow: hidden;
    transition: 1s;
    margin-bottom: 25px;
  }
  .logo-block {
    display: flex;
    justify-content: center;
  }
  .logo-block > img {
    display: none;
  }
  .logo-block a {
    position: static;
    display: block;
  }
  footer {
    height: 329px;
  }
  footer nav {
    flex-direction: column;
    align-items: center;
    text-align: center;
    margin-top: 9px;
  }

  .footer__menu li a {
    font-size: 18px;
    line-height: 2;
    margin: 0;
    padding: 5px;
  }

  .footer__contacts a {
    text-decoration: none;
    color: #fff;
    font-size: 24px;
    margin-bottom: 10px;
  }
  .footer__social-networks {
    margin: 0 0 10px 0;
  }
  .footer__social-networks a img {
    padding: 0px;
    margin: 14px 12px;
  }

  hr {
    margin: 14px 41px 0px 41px;
  }

  .footer__created {
    font-size: 14px;
  }
}

@media screen and (max-width: 576px) {
  .menu li a {
    font-size: 16px;
  }

  .btn {
    height: 27px;
    border-radius: 6px;
    font-size: 12px;
    padding: 7px 20px;
    line-height: 1;
  }

  .hero {
    height: 580px;
  }
  .hero__event-name {
    font-size: 16px;

    margin-right: 10px;
  }
  .hero__event-info {
    padding-bottom: 11px;
    padding-left: 21px;
  }
  .hero__event-date {
    font-size: 10px;
    padding: 4px 10px;
    margin-bottom: 5px;
  }
  .hero-events {
    height: 250px;
    margin-bottom: 30px;
  }

  .hero__event {
    height: 220px;
    border-radius: 30px;
  }

  .hero__event-arrows {
    height: 220px;
  }
  .hero__event-arrows img {
    height: 37px;
    width: 36px;
  }

  .hero__event-gradient {
    height: 110px;
  }

  .hero__dots span {
    width: 11px;
    height: 11px;
    margin-right: 8px;
    margin-top: 16px;
  }

  .hero__info-p-org {
    font-size: 24px;
    margin: 0;
  }

  .hero__info-it-city {
    font-size: 48px;
  }

  .hero__info p {
    margin-bottom: 15px;
  }
  .hero__info {
    margin-bottom: 30px;
  }
}
@media screen and (max-width: 380px) {
  .hero__event-name {
    font-size: 14px;
    line-height: 1;
  }
  .hero__info p {
    font-size: 16px;
  }
}
